:root {
  /* Root Styles */
  --primary-color: #fff;
  --secondary-color: #000;
  --theme-color: #ff7f50;
  --bg-color: #222;
  --body-color: #b7b7b7;
  --color-change-zero-fill: #edc655;
  --color-change-fifty-fill: #fcffad;
  --color-change-hundred-fill: #f76414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-color);
  background-color: #333;
  font-weight: var(--body-font-weight);
  font-size: 1.1rem;
  line-height: 2;
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: var(--primary-color);
}

h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

.container {
  border-radius: 7px;
  padding: 0 20px;
}

.container h1 {
  text-align: center;
  font-size: 60px;
  color: var(--primary-color);
}

/* Main Menu */
.main-nav {
  display: flex;
}

.main-menu .page-header_item {
  background-color: #000;
  border-radius: 7px;
  user-select: none;
  pointer-events: none;
  width: 100px;
}

.main-nav ul.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding: 50px;
  margin-bottom: 95px;
  list-style-type: none;
  background: #222;
}

.main-nav ul.main-menu li {
  margin-right: 25px;
}

a:visited {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--primary-color);
}

/* Utility Classes */
.button {
  font-size: 12px;
  width: 100%;
  padding: 17px 15px;
  text-decoration: none;
  transition: 0.5s;
}

.button__primary {
  background-image: linear-gradient(#222 95%, coral);
  border-radius: 9px;
  font-size: 0.8rem;
  box-shadow: 0px 0px 0px 1px gold;
}

.button__primary:hover {
  opacity: 0.8;
}

/* Navigation */
.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 20px;
}

.navigation-list li {
  display: inline;
  margin-left: 50px;
}

.navigation-list li a {
  color: var(--body-color);
  text-decoration: none;
}

.navigation-list_item {
  text-decoration: none;
}

.navigation-list_item--active {
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--theme-color);
  border-radius: 2px;
}

/* Profile */
.profile {
  padding-top: 35px;
  padding-bottom: 150px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: -80px;
}

.profile_portrait {
  float: left;
  margin-right: 20px;
  width: 90px;
  font-size: 10px;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.profile .profile-text h1 {
  font-family: "VT323", monospace;
  font-size: 22px;
  text-align: left;
}

.profile-text > p {
  text-align: justify;
}

.skills {
  display: flex;
  justify-content: space-around;
  background: #375068;
  margin-top: 50px;
  border-radius: 5px;
}

.skills > ul {
  padding: 20px;
}

.skills ul li {
  text-align: left;
  color: var(--primary-color);
  font-size: 1rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  padding: 0 20px;
}

.about h1,
h2 {
  color: var(--primary-color);
}

.about-me-profile-img-2 {
  display: flex;
  justify-content: center;
}

.about-me-p1-text,
.about-me-p2-text {
  text-align: justify;
  max-width: 500px;
}

/* Projects */
.projects-container {
  display: flex;
  flex-direction: column;
}

.project__card {
  display: flex;
  justify-content: space-between;
  border-radius: 22px;
  font-size: 18px;
  gap: 30px;
  padding-bottom: 100px;
}

.project__card h4 {
  color: #f4f4f4;
  text-align: left;
  margin-top: 100px;
}

.project-card__text {
  text-align: justify;
  margin: 0 auto;
  max-width: 750px;
}

.project__card img {
  max-width: 750px;
  border-radius: 22px;
  border: 1px solid var(--theme-color);
}

.project-card__assets {
  max-width: 100%;
  max-height: 500px;
}

.project-card__links {
  margin-top: 35px;
  justify-content: center;
}

.project__button {
  color: var(--primary-color);
  padding: 1.2rem 2.5rem 1.2rem;
  font-size: 1.1rem;
  margin-right: 6px;
  margin-top: 30px;
  max-width: 250px;
  text-align: center;
  background-color: #2d3b48;
  box-shadow: 1px 3px 3px var(--secondary-color);
  margin-bottom: 50px;
}

.project__button:hover {
  background-color: #666;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 230px;
  margin-bottom: 45px;
}

figure img {
  min-width: 100%;
}

figcaption {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

/* Contact */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 100px auto;
}

.contact-links {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  color: white;
  line-height: 2.4;
}

.contact-links svg:hover {
  background: #f4f4f4;
  border-radius: 50%;
  transform: scale(0.7);
  transition: 0.5s ease;
  padding: 20px;
}

/* Social Media */
.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222;
  min-width: 100%;
  padding-bottom: 50px;
}

.social-media-title {
  margin: 20px;
  clear: both;
  text-decoration: underline;
  padding-bottom: 5px;
}

.social-media-links {
  display: flex;
  margin-bottom: 25px;
}

.social-media-links a {
  margin-right: 12px;
  text-decoration: none;
}

.social-media-links a img:hover {
  transform: translateY(-3px);
  transition: 0.5s ease-in-out;
}

/* To-Top Button */

.to-top {
  background: #fff;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #f76414;
  border: none;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  cursor: pointer;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/************* (BRANDENBURG GATE ANIMATION) ***************
***********************************************************
***********************************************************/

@keyframes color-change {
  0% {
    fill: var(--color-change-zero-fill);
  }

  50% {
    fill: var(--color-change-fifty-fill);
  }

  100% {
    fill: var(--color-change-hundred-fill);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  0% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/************* (MEDIA QUERIES) ****************************
Extra small devices (phones, 576px and down to ************
the smallest smartphone iPhone5, which is 576px pixels wide)
***********************************************************/

@media (max-width: 576px) {
  .profile {
    margin-top: 50px;
  }
  .profile_portrait {
    width: 90px;
  }
  .profile .profile-text h1 {
    font-size: 18px;
  }
  .profile .profile-text h2 {
    font-size: 22px;
  }
  .profile-text {
    text-align: justify;
  }
  .profile-skills ul li {
    text-align: left;
    color: #fff;
    font-size: 15px;
  }

  /* Mobile Menu */
  .main-nav ul.main-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #222;
    padding: 50px;
    margin: 0;
    width: 500px;
    height: 100%;
    list-style-type: none;
    transform: translateX(-1000px);
    transition: 0.5s ease-in-out;
  }
  .main-nav ul.main-menu.show {
    transform: translateX(0px);
  }
  .main-nav ul.main-menu li {
    padding-bottom: 20px;
  }

  .main-nav ul.main-menu img {
    margin-left: 60px;
  }

  /* Sidemenu */
  .sidemenu {
    position: fixed;
    top: 30px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
  }
  .sidemenu .line-top {
    background: var(--theme-color);
    width: 32px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .sidemenu .line-center {
    background: var(--theme-color);
    width: 44px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .sidemenu .line-bottom {
    background: var(--theme-color);
    width: 55px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .sidemenu:hover .line-top {
    transform: translateY(-100%);
  }
  .sidemenu .line-center.sidemenu.line-center {
    opacity: 0;
  }
  .sidemenu:hover .line-bottom {
    transform: translateY(100%);
  }

  /* Projects */
  .project__card {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .project__card h4 {
    font-size: 23px;
  }
  .project-card__links {
    display: flex;
    margin-bottom: 20px;
  }
  .project-card__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 8px 15px;
    margin-top: -10px;
  }
  .project-card__assets img {
    max-width: 100%;
    margin-top: -70px;
  }
  .project__card h1 {
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: lime;
  }

  .contact-links {
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    color: white;
    line-height: 2.4;
  }

  .contact-links h1 {
    color: lime;
  }

  figure img {
    width: 100%;
  }
  .about h1 {
    font-size: 1.5rem;
    color: lime;
  }
  .about h2 {
    font-size: 1.1rem;
  }
  .about-me-profile-img-2 {
    margin-left: 0;
  }
  footer {
    display: flex;
    font-size: 15px;
  }
}

/************* (MEDIA QUERIES) *******************
Medium devices (landscape tablets, 768px and down)
*************************************************/

@media (max-width: 768px) {
  /* Profile */
  .profile {
    margin-top: 50px;
  }
  .profile_portrait {
    width: 90px;
  }
  .profile .profile-text h1 {
    font-size: 18px;
  }
  .profile .profile-text h2 {
    font-size: 22px;
  }
  .profile-text {
    text-align: justify;
  }
  .profile-skills ul li {
    text-align: left;
    color: #fff;
    font-size: 15px;
  }

  /* Mobile Menu */
  .main-nav ul.main-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #222;
    padding: 50px;
    margin: 0;
    width: 500px;
    height: 100%;
    list-style-type: none;
    transform: translateX(-1000px);
    transition: 0.5s ease-in-out;
  }
  .main-nav ul.main-menu.show {
    transform: translateX(0px);
  }
  .main-nav ul.main-menu li {
    padding-bottom: 20px;
  }

  .main-nav ul.main-menu img {
    margin-left: 60px;
  }

  /* Hamburger Menu */
  .hamburger {
    position: fixed;
    top: 30px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
  }
  .hamburger .line-top {
    background: var(--theme-color);
    width: 32px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .hamburger .line-center {
    background: var(--theme-color);
    width: 44px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .hamburger .line-bottom {
    background: var(--theme-color);
    width: 55px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .hamburger:hover .line-top {
    transform: translateY(-100%);
  }
  .hamburger .line-center.hamburger.line-center {
    opacity: 0;
  }
  .hamburger:hover .line-bottom {
    transform: translateY(100%);
  }

  /* Projects */
  .project__card {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .project__card h4 {
    font-size: 23px;
  }
  .project-card__links {
    display: flex;
    margin-bottom: 20px;
  }
  .project-card__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 8px 15px;
    margin-top: -10px;
  }
  .project-card__assets img {
    max-width: 100%;
    margin-top: -70px;
  }
  .project__card h1 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }

  /* Contact */
  .contact-links > h1 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .contact-links > h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    padding-bottom: 50px;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  /* Other */
  figure img {
    width: 100%;
  }
  .about h1 {
    font-size: 1.5rem;
  }
  .about-me-profile-img-2 {
    margin-left: 0;
  }
}

/************* (MEDIA QUERIES) *******************
Medium devices (landscape tablets, 992px and down)
*************************************************/

@media (max-width: 1039px) {
  /* Profile */
  .profile {
    margin-top: 50px;
  }
  .profile_portrait {
    width: 90px;
  }
  .profile .profile-text h1 {
    font-size: 18px;
  }
  .profile .profile-text h2 {
    font-size: 22px;
  }
  .profile-text {
    text-align: justify;
  }
  .profile-skills ul li {
    text-align: left;
    color: #fff;
    font-size: 15px;
  }

  /* Mobile Menu */
  .main-nav ul.main-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #222;
    padding: 50px;
    margin: 0;
    width: 500px;
    height: 100%;
    list-style-type: none;
    transform: translateX(-1000px);
    transition: 0.5s ease-in-out;
  }
  .main-nav ul.main-menu.show {
    transform: translateX(0px);
  }
  .main-nav ul.main-menu li {
    padding-bottom: 20px;
  }

  .main-nav ul.main-menu img {
    margin-left: 60px;
  }

  /* Hamburger Menu */
  .hamburger {
    position: fixed;
    top: 30px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
  }
  .hamburger .line-top {
    background: var(--theme-color);
    width: 32px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .hamburger .line-center {
    background: var(--theme-color);
    width: 44px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .hamburger .line-bottom {
    background: var(--theme-color);
    width: 55px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transition: all 0.2s ease;
  }
  .hamburger:hover .line-top {
    transform: translateY(-100%);
  }
  .hamburger .line-center.hamburger.line-center {
    opacity: 0;
  }
  .hamburger:hover .line-bottom {
    transform: translateY(100%);
  }

  /* Projects */
  .project__card {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .project__card h4 {
    font-size: 23px;
  }
  .project-card__links {
    display: flex;
    margin-bottom: 20px;
  }
  .project-card__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 8px 15px;
    margin-top: -10px;
  }
  .project-card__assets img {
    max-width: 100%;
    margin-top: -70px;
  }
  .project__card h1 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }

  /* Contact */
  .contact-links > h1 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .contact-links > h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    padding-bottom: 50px;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  /* Other */
  figure img {
    width: 100%;
  }
  .about h1 {
    font-size: 1.5rem;
  }
  .about-me-profile-img-2 {
    margin-left: 0;
  }
}

/************* (MEDIA QUERIES) *******************
Medium devices (landscape tablets, 993px and down)
*************************************************/

@media (min-width: 993px) {
  /* Projects */
  .project__card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .project__card h4 {
    font-size: 23px;
  }
  .project-card__links {
    display: flex;
    margin-bottom: 25px;
  }
  .project-card__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 8px 15px;
    margin-top: -10px;
  }
  .project-card__assets img {
    display: flex;
    align-items: center;
    max-width: 750px;
    margin-bottom: 10px;
  }
  .about img {
    width: 200px;
  }
}
