/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background: #080808;
    color: #fff;
  }
  
  #header {
    max-width: 100%;
    height: 100vh;
  }
  
  .container {
    padding: 10px 10%;
  }
  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  p {
    text-align: justify;
  }
  
  nav img.logo {
    width: 80px;
  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  
  nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff7f50;
    position: absolute;
    left: 0;
    bottom: -6px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  .header-text {
    margin-top: 15.5%;
    padding: 35px;
    font-size: 30px;
    line-height: 1.1;
  }
  
  .header-text p {
    font-size: 38px;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  
  .header-text p::before,
  .header-text p::after {
    content: "";
    padding: 50px;
    position: absolute;
    left: -30px;
    top: -150%;
    display: block;
    -webkit-transform: translateX(-50%), translateY(-50%), rotate(0);
        -ms-transform: translateX(-50%), translateY(-50%), rotate(0);
            transform: translateX(-50%), translateY(-50%), rotate(0);
    -webkit-animation: spin 6s alternate infinite ease-in-out;
            animation: spin 6s alternate infinite ease-in-out;
  }
  
  .header-text p::before {
    border-top: 10px solid hsl(120, 100%, 45%);
    border-left: 10px solid hsl(120, 100%, 45%);
  }
  
  .header-text p::after {
    border-bottom: 10px solid hsl(120, 100%, 45%);
    border-right: 10px solid hsl(120, 100%, 45%);
    z-index: -1;
  }
  
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  .header-text h1 {
    font-size: 70px;
    margin-top: 20px;
    -webkit-animation-name: glowing-color;
            animation-name: glowing-color;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    /* animation-delay: -2s; */
    position: relative;
  }
  @-webkit-keyframes glowing-color {
    0% {
      right: 0;
      top: -1000px;
      padding: 50px;
      border-radius: 5px;
    }
    25% {
      right: 0;
      top: 0px;
      background: #0a0a2b;
      padding: 50px;
      border-radius: 5px;
    }
    50% {
      right: 0;
      top: 0px;
      background: #021f13;
      padding: 50px;
      border-radius: 5px;
    }
    75% {
      right: 0;
      top: 0px;
      background: #270127;
      padding: 50px;
      border-radius: 5px;
    }
    100% {
      right: 0;
      top: 0px;
      background: rgb(42, 36, 6);
      padding: 50px;
      border-radius: 5px;
    }
  }
  @keyframes glowing-color {
    0% {
      right: 0;
      top: -1000px;
      padding: 50px;
      border-radius: 5px;
    }
    25% {
      right: 0;
      top: 0px;
      background: #0a0a2b;
      padding: 50px;
      border-radius: 5px;
    }
    50% {
      right: 0;
      top: 0px;
      background: #021f13;
      padding: 50px;
      border-radius: 5px;
    }
    75% {
      right: 0;
      top: 0px;
      background: #270127;
      padding: 50px;
      border-radius: 5px;
    }
    100% {
      right: 0;
      top: 0px;
      background: rgb(42, 36, 6);
      padding: 50px;
      border-radius: 5px;
    }
  }
  .header-text h1 span {
    color: #ff7f50;
  }
  
  /* -------------About-------------*/
  #about {
    padding: 80px 0;
    color: #ababab;
  }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .about-col-1 {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .about-col-1 img {
    max-width: 100%;
    border-radius: 15px;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .about-col-2 {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .about-col-2 p {
    letter-spacing: 8px;
  }
  .about-col-2 div {
    text-align: justify;
  }
  .sub-title {
    font-size: 60px;
    font-weight: 600;
    color: hsl(120, 100%, 45%);
    margin-bottom: 20px;
  }
  .sub-title-2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .tab-titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 40px;
  }
  .tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  .tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff7f50;
    position: absolute;
    left: 0;
    bottom: -8px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .tab-links.active-link::after {
    width: 50%;
  }
  .tab-contents ul li {
    list-style-type: none;
    margin: 10px 0;
  }
  .tab-contents ul li span {
    color: #ff936c;
    font-size: 14px;
  }
  .tab-contents {
    display: none;
  }
  .tab-contents.active-tab {
    display: block;
  }
  
  /* ------------- Services -------------*/
  #services {
    padding: 30px 0;
  }
  .services-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .services-list div {
    background: #f5632e;
    color: #fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    -webkit-transition: 0.5s, -webkit-transform 0.5s;
    transition: 0.5s, -webkit-transform 0.5s;
    -o-transition: 0.5s, transform 0.5s;
    transition: 0.5s, transform 0.5s;
    transition: 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  .services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .services-list div p {
    font-size: 20px;
  }
  .services-list div a {
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
  }
  .services-list div:hover {
    background: hsl(120, 100%, 25%);
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  
  /* ------------- Portfolio -------------*/
  #portfolio {
    padding: 50px 0;
  }
  .work-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 40px;
    height: 100%;
    margin-top: 50px;
  }
  .work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .work-summary {
    font-size: 16px;
  }
  .work img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ff7f50;
    display: block;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .work:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .work:hover .layer {
    height: 100%;
  }
  .layer {
    width: 100%;
    height: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(#ff7f50));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.6), #ff7f50);
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff7f50);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: justify;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    -webkit-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
  }
  
  .layer h3 {
    font-weight: 500;
    margin-bottom: 20;
  }
  
  .btn {
    padding: 10px;
    max-width: 150px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #2d3b48;
    text-decoration: none;
  }
  .btn:hover {
    background-color: #666;
  }
  
  .button {
    display: block;
    margin: 50px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid #ff7f50;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .button:hover {
    background: #ff7f50;
  }
  
  /* ------------- Contact -------------*/
  .contact-left {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .contact-right {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .contact-left p {
    margin-top: 30px;
  }
  .contact-left p i {
    color: #ff7f50;
    margin-right: 15px;
    font-size: 25px;
  }
  .social-icons {
    margin-top: 30px;
  }
  .social-icons a {
    text-decoration: none;
    font-size: 39px;
    margin-right: 15px;
    color: hsl(120, 100%, 45%);
    display: inline-block;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .social-icons a:first-child:hover {
    color: #fff;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  .social-icons a:nth-child(2):hover {
    color: #4875b4;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  .social-icons a:nth-child(3):hover {
    color: #005a5f;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  .social-icons a:last-child:hover {
    color: #00acee;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  
  .button.button-2 {
    display: inline-block;
    background: #ff7f50;
  }
  .contact-right form {
    width: 100%;
  }
  form input,
  form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #222;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
  }
  
  form .button-2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
  }
  .copyright p {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
  }
  #msg {
    color: #32cd32;
    margin-top: -40px;
    display: block;
  }
  
  /*------------- css for small screen -------------*/
  nav .fa-solid {
    display: none;
  }
  
  @media all and (max-width: 790px) {
    .header-text {
      margin-top: 50%;
      font-size: 16px;
    }
    @-webkit-keyframes glowing-colors {
      0% {
        right: 0px;
        top: 0px;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        rotate: -360deg;
        padding: 15px;
      }
      25% {
        right: 0px;
        top: 0px;
        padding: 15px;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        rotate: 45deg;
      }
      50% {
        right: 0px;
        top: 0px;
        padding: 15px;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        rotate: 45deg;
      }
      75% {
        right: 0px;
        top: 0px;
        padding: 15px;
      }
      100% {
        right: 0px;
        top: 0px;
        background: blue;
        padding: 15px;
      }
    }
    @keyframes glowing-colors {
      0% {
        right: 0px;
        top: 0px;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        rotate: -360deg;
        padding: 15px;
      }
      25% {
        right: 0px;
        top: 0px;
        padding: 15px;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        rotate: 45deg;
      }
      50% {
        right: 0px;
        top: 0px;
        padding: 15px;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        rotate: 45deg;
      }
      75% {
        right: 0px;
        top: 0px;
        padding: 15px;
      }
      100% {
        right: 0px;
        top: 0px;
        background: blue;
        padding: 15px;
      }
    }
    
    .header-text p {
      font-size: 16px;
    }
    .header-text h1 {
      font-size: 30px;
    }
    nav .fa-solid {
      display: block;
      font-size: 25px;
    }
    nav ul {
      background: #080808;
      position: fixed;
      top: 0;
      right: -200px;
      width: 120px;
      height: 500px;
      padding-top: 50px;
      z-index: 2;
      -webkit-transition: right 0.5s ease-in-out;
      -o-transition: right 0.5s ease-in-out;
      transition: right 0.5s ease-in-out;
    }
    nav ul li {
      display: block;
      margin: 25px;
    }
    nav ul li a {
      color: #ff7f50;
      font-size: 15px;
    }
    nav ul .fa-solid {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
    nav .fa-solid {
      cursor: pointer;
    }
    nav ul.show {
      right: 0;
    }
    .sub-title {
      font-size: 40px;
    }
    .sub-title-2 {
      font-size: 32px;
    }
    .about-col-1,
    .about-col-2 {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-bottom: 30px;
      font-size: 17px;
    }
    .tab-links {
      font-size: 16px;
      margin-right: 20px;
    }
    .contact-left,
    .contact-right {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    .contact-left p {
      font-size: 18px;
    }
    .work h1 {
      font-size: 20px;
    }
    .work h3 {
      font-size: 7px;
    }
    .work-summary {
      font-size: 8px;
    }
    .work-list {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      height: 100%;
    }
    .work .btn {
      padding: 5px;
      max-width: 100px;
      font-size: 10px;
    }
    footer p {
      font-size: 14px;
    }
    .copyright {
      font-size: 14px;
    }
    .header-text p::before,
    .header-text p::after {
      display: none;
    }
    .services-list div {
      padding: 20px;
      height: 250px;
      font-size: 13px;
    }
    .services-list div i {
      font-size: 25px;
    }
    .services-list div h2 {
      font-size: 25px;
      margin-bottom: 15px;
    }
    .services-list div p {
      font-size: 15px;
    }
  }